<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="kr70_r2100">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import kr70_r2100 urdf file -->
    <xacro:include filename="$(find kuka_description)/urdf/kr70_r2100.urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="kr70_r2100.ros2_control.xacro" />


    <xacro:kr70_r2100_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
